*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
body{
    background-image: linear-gradient(to right,  rgba(0, 0, 0, 1),rgb(104, 25, 128, 0.9));
    color: #fff;
}

.back-boton{
    margin: 20px;
    
}
.boton{
    
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
}
.boton:hover{
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
}
.heading{
    color: #000;
}
.bg-container{
    height: 100vh;
    /*width: 100vw;*/
    
}
.head{
    text-align: center;
    font-family: serif;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    
    
}
.form-back{
    /*display: flex;*/
    /*justify-content: center;*/
    margin-top: 20px;
    
}
.form{
    margin-left: 15rem;
    display: flex;
    flex-direction: row;
    /*border: 2px solid rgb(255, 255, 255);*/
    /*border-radius: 10px;*/
    /*backdrop-filter: blur(10px);*/  
    /*background-image: linear-gradient(to right, rgb(104, 25, 128, 0.25), rgb(0, 0, 0, 0.1));
    */
}
ol{
    margin-top: 30px;
}
li{
    padding: 15px;
    margin: 15px;
    font-family: serif;
    font-size: 20px;
    font-weight: normal;
}
li label{
    font-weight: normal;
}
input{
    font-weight: normal;
    color: #fff;
    border-radius: 5px;
    border: 1px dashed rgb(255, 255, 255);
    height: 30px;
    padding-left: 20px;
    background-color: transparent;
}
.button{
    
    /*border: 2px solid wheat;*/
    text-align: center;
}
.submit{
    margin: 5rem;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-family: serif;
    margin: 10px;
    
}
.reset{
    margin: 5rem;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-family: serif;
}
.submit:hover{
    background-color: blueviolet;
    color: white;
}
.reset:hover{
    color: white;
    background-color: blueviolet;
}
select{
    padding: 10px;
    border-radius: 8px;
    border-color: blanchedalmond;
    background-color: transparent;
}
.hobbies{
    height: 40px;
    width: 300px;
}
.languages{
    margin-left: 8rem;
}
footer{
    text-align: center;
    background-color: grey;
    font-size: x-large;
    padding: 10px;
    color: #fff;
}